::-webkit-scrollbar {
  display: none;
}

.container {
  display: inline-flex;
}

.folder {
  padding-top: 34px;
}
#projects {
  overflow-x: hidden;
}

.dropArea {
  height: 100vh;
  width: 300px;
  background-color: rgb(169, 215, 255);
  overflow: scroll;
}

.dropArea2 {
  height: 100vh;
  width: 300px;
  background-color: rgb(182, 64, 64);
  overflow: scroll;
}

/* .dropArea:hover {
  outline: 2px solid blue;
  outline-offset: -2px;
} */

.hoveredDrop {
  outline: 2px solid blue;
  outline-offset: -2px;
}
.grayArea {
  background-color: rgb(78, 116, 150);
}
.grayArea2 {
  background-color: rgb(189, 120, 120);
}
.dropLabel {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  text-align: center;
}

.titleBG {
  position: fixed;
  display: grid;
  text-align: left;
  font-size: 3em;
  font-family: 'Gill Sans MT';
  font-weight: bold;
  /* margin: 5px 5px; */
  color: white;
  background-color:  rgb(32, 48, 62);
  /* -webkit-app-region: drag; */
  grid-template-columns: 85fr 5fr 5fr 5fr;
  width: 100%;
  z-index: 2;
}

h2 {
  text-align: center;
  font-family: 'Trebuchet MS';
  color: white;
}

h3 {
  color: white;
  text-align: left;
  font-family: 'Arial Black';
  margin: 7px 0;
  /* background-color:  rgb(169, 215, 255); */
  font-size: 1.6em;
}

.buttonHolder {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto auto;
  width: 50%;
  height: 50px;
  line-height: 50px;
}

.buttons {
  display: inline-block;
  background-color: rgb(109, 132, 152);
  width: 95%;
  text-align: center;
  vertical-align: middle;
  margin: 5px 5px;
  color: white;
  border-radius: 5px;
}

.buttons:hover {
  background-color: rgb(139, 162, 182);
}

.go {
  background-color: rgb(78, 143, 150);
}

.go:hover {
  background-color: rgb(78, 160, 150);
}

.checkboxes {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 300px;
}

.features {
  display: grid;
  text-align: center;
  width: 100%;
  /* height: 34px; */
  padding: 10px 0;
}

/* checkboxes */

.options {
  display: grid;
  margin: 0 0;
}

.checkboxLabel {
  font-family: 'Trebuchet MS', sans-serif;
  /* display: none; */
  color: white;
  text-align: center;
  margin: 7px auto;
}

.searchBox {
  display: grid;
}

.spotify {
  margin: 35px;
}

.search {
  margin: auto;
  width: 40%;
  display: grid;
  grid-template-columns: 5fr 2fr;
}

.results {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 80%;
  margin: 40px auto;
  /* border: 2px solid rgb(169, 215, 255); */
  border-radius: 4px;
}

.result {
  display: grid;
  margin: 20px auto;
}

.artistPic {
  display: grid;
  object-fit: contain;
  width: 75%;
  margin: auto;
}

.artistName, .followers, .genres {
  text-align: center;
  font-family: arial;
  margin: 0 auto;
  padding: 0;
}

.searchedArtist {
  width: 60%;
  margin: 40px auto;
}

.searchedArtistPic {
  display: grid;
  width: 100%;
  height: 100%;
  margin: auto;
}

.typebeatdiv {
  display: grid;
  width: 33.3333%;
  margin-top: auto;
  margin-bottom: 0;
}

.typebeatSearch {
  display: grid;
  margin: 0 auto;
  width: 190px;
  text-align: center;
}

.ytbtn {
  display: grid;
  margin: 30px auto;
  background-color: rgb(182, 0, 0);
}

.videoData {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  margin: 59px auto;
  font-family: 'arial';
  border: none;
}

.inputForInfo {
  background-color: rgb(32, 48, 62);
  outline: none !important;
  border: none;
  color: white;
}

#description {
  height: 274px;
}

body {
  margin: 0;
  /* background: #151616; */
  background-color: rgb(190, 222, 250);
  font-family: roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.files {
  margin-top: 54px;
}

.file {
  border-radius: 4px;
  color: white;
  text-align: right;
  width: 80%;
  margin: 20px auto;
  padding: 9px 5px;
  cursor: pointer;
  background-color: rgb(111, 0, 0);
}

.filedone {
  border-radius: 4px;
  color: white;
  text-align: right;
  width: 80%;
  margin: 20px auto;
  padding: 9px 5px;
  cursor: pointer;
  background-color: rgb(0, 114, 97);
}

/* .folderThing {
  display: grid;
  color: rgb(190, 222, 250);
  text-align: left;
  margin: 20px auto;
  border-bottom: 1px solid cadetblue;
  cursor: pointer;
} */

.dropTitle {
  font-family: 'SF Pro';
  font-size: 1.4em;
  position: absolute;
  width: 300px;
  background-color: rgb(169, 215, 255);
  padding: 15px 0;
  margin: 0 auto;
  background-color: rgb(78, 116, 150);
  filter: drop-shadow(0px 2px 1px rgb(67, 101, 131));
  z-index: 2;
}

.droppedFolderTitleBG {
  background-color:  rgb(32, 48, 62);
}

.droppedFolderTitle {
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 5px 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
  font-size: 1em;
}

.modal {
  display: grid;
  position: absolute;
  left: 400px;
  top: 20%;
  /* border-radius: 10px; */
  padding: 10px;
  background-color:  rgb(32, 48, 62);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: whitesmoke;
  margin: 0;
  width: 400px;
  /* filter: drop-shadow(3px 4px 6px rgb(37, 63, 84)); */
  filter: drop-shadow(6px 6px 50px rgb(215, 237, 255));
  z-index: 3;
}

.modalTitle {
  padding-bottom: 10px;
  font-size: 12pt;
}

.trackInfos {
  display: grid;
  grid-template-columns: 1fr;

}

.trackInput {
  border: none;
  background-color: rgb(32, 48, 62);
  color: white;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: .6; /* Firefox */
}

.emptyDropArea {
  font-family: 'SF Pro';
  font-size: 1em;
  text-align: center;
  margin: 80px auto;
  color: white;
  background-color: rgb(32, 48, 62);
  padding: 200px 0;
}

.emptyDropArea2 {
  font-family: 'SF Pro';
  font-size: 1em;
  text-align: center;
  margin: 80px auto;
  color: white;
  background-color: rgb(130, 44, 44);
  padding: 200px 0;
}

.X {
  background-color: Transparent;
  outline: none;
  z-index: 1;
  display: grid;
  position: absolute;
  top: 0px;
  right: 0px;
  margin: auto;
  color: rgb(130, 44, 44);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1em;
}

.invisibleX {
  display: none;
}

.closeX {
  z-index: 2;
  margin: auto;
  background-color: Transparent;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.closeXInvisible {
  z-index: 2;
  margin: auto;
  background-color: Transparent;
  color: Transparent;
  border: none;
  border-radius: 10px;
}

.closeXBeatFolder {
  z-index: 2;
  margin: auto;
  background-color: rgb(32, 48, 62);
  color: rgb(190, 222, 250);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-align: right;
}

.closeXInvisibleBeatFolder {
  z-index: 2;
  margin: auto;
  background-color: rgb(32, 48, 62);;
  color: rgb(32, 48, 62);
  border: none;
  border-radius: 10px;
  text-align: right;
}

.startButton {
  position: relative;
  margin: 0;
  border: none;
  background-color:rgb(32, 62, 48);
  color: white;
}
.saveButton {
  position: relative;
  margin: 0;
  border: none;
  background-color:rgb(132, 142, 155);
  color: white;
}

.resetButton {
  position: relative;
  margin: 0;
  border: none;
  background-color:white;
  color: black;
}


.selectedFeature {
  border: none;
  background-color:rgb(28, 92, 99);
  color: white;
}
.notSelectedFeature {
  border: none;
  background-color: rgb(87, 25, 25);
  color: white;
}

input:focus {
  outline: none !important;
  /* border: 2px solid firebrick; */
}
input  {
  outline: none !important;
  border: none;
  /* border: 2px solid firebrick; */
}
button:focus {
  outline: none !important;
  /* border: 2px solid firebrick; */
}


.imagesList {
  display: grid;
  margin: 0;
  padding-top: 53px;
  z-index: 0;
  opacity: .8;
  filter: blur(1px);
  -webkit-transition: opacity .5s ease-in-out;
  -webkit-transition: filter .3s ease-in-out;
}

.imagesList:hover {
  opacity: 1;
  filter: none;
  -webkit-transition: opacity .5s ease-in-out;
  -webkit-transition: filter .3s ease-in-out;
}

.imageLI {
  margin: 0 auto;
  padding: 0;
  position: relative;
  text-align: center;

}
.listedImage {
  width: 300px;
  margin: 0 auto;
  padding: 0;
}

.imageDropArea {
  display: grid;
  margin: 0;
  padding: 0;
}

.inputArea {
  display: grid;
  position: relative;
  margin: 0 0;
  top: 54px;
  width: 100%;
}

.dateModalModal {
  backdrop-filter: blur(5px) brightness(50%);
  display: grid;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  margin: 0 auto;
  top: 0;
  left: 0%;
  z-index: 3;
}
.dateModal {
  display: grid;
  position: fixed;
  width: 50%;
  height: 50%;
  background-color: rgb(130, 44, 44);
  margin: 0 auto;
  top: 25%;
  left: 25%;
  z-index: 4;
}

.date {
  margin: 30px auto;
}

.savedModal {
  display: grid;
  position: fixed;
  width: 100%;
}

.saved {
  z-index: 3;
  margin: 0 auto;
}

.inv {
  visibility: hidden;
  display: none;
}

