.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.dropArea {
  height: 150px;
  margin: auto;
  width: 85%;
  background-color: rgb(169, 215, 255);
}

.dropArea:hover {
  outline: 2px solid blue;
  outline-offset: -2px;
}
.hoveredDrop {
  outline: 2px solid blue;
  outline-offset: -2px;
}
.grayArea {
  background-color: rgb(78, 116, 150);
}

.dropLabel {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  text-align: center;
}

h1 {
  text-align: center;
  font-family: 'Trebuchet MS';
}

h3 {
  text-align: center;
  font-family: 'Gill Sans MT';
}

.buttonHolder {
  display: grid;
  margin-top: 30px;
}

.buttons {
  background-color: rgb(109, 132, 152);
  text-align: center;
  margin: 5px auto;
  width: 200px;
  color: white;
  border-radius: 5px;
}

.buttons:hover {
  background-color: rgb(139, 162, 182);
}

.go {
  background-color: rgb(78, 150, 92);
}

.go:hover {
  background-color: rgb(129, 176, 139);
}